@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@plugin "daisyui";

:root {
  --background: #171717;
  --foreground: #ffffff;
  --primary-text-color: #ffffff;
  --secondary-text-color: #7241ff;
  --tertiary-text-color: #627fff;
  --quaternary-text-color: #865bff;
  --quinary-text-color: #77798f;
  --senary-text-color: #2a2b3a;
  --septenary-text-color: #949494;
  --box-primary-color: #220B2C;
  --box-secondary-color: #373737;
  --font-inter: 'Inter', sans-serif;
  --font-roboto: 'Roboto', sans-serif;
  --font-poppins: 'Poppins', sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #ededed;
    --foreground: #0a0a0a;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  width: 100%;
  min-height: 80px;
  font-size: medium;
  margin-bottom: 7px;
  background: var(--background, #fff);
  color: var(--foreground, #000);
  flex-shrink: 0;
  flex: 0 0 auto;

  padding-left: 30px;
  padding-right: 30px;
}

main {
  flex: 1;
  flex-shrink: 0;
  height: 100vh;

  padding-left: 30px;
  padding-right: 30px;
}

.footer-detail {
  background: var(--background);
  flex-shrink: 0;
  padding: 1rem;
  font-size: medium;

  padding-left: 30px;
  padding-right: 30px;
}

.sticky-footer {
  position: sticky;
  bottom: 0;
  z-index: 1000;
  padding: 1rem;
  background: var(--background, #fff);
  color: var(--foreground, #000);
  font-size: 16px;
  text-align: center;
  flex-shrink: 0;
  flex: 0 0 auto;
}

.gradient-text-home-hero {
  background: linear-gradient(90deg, var(--tertiary-text-color) 0% 7%, var(--quaternary-text-color) 96% 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}

.radial-gradient-text-home-hero {
  background: radial-gradient(circle, #FFFFFF 0% 30%, #FFFFFF50 85% 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient-btn-start-processing {
  background: linear-gradient(0deg, #422989 0%, #515160 10%, #A951D2 40%, #DF84E1 80%, #FCA5FE 100%);
}